
*.iml
.gradle
.idea
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*yarn.lock
demo/iosApp/Podfile.lock
demo/iosApp/Pods/*
demo/iosApp/iosApp.xcworkspace/*
demo/iosApp/iosApp.xcodeproj/*
!demo/iosApp/iosApp.xcodeproj/project.pbxproj
publish.sh
.kotlin